button {
    color: #36449C;
    text-align: center;
    font-family: Nunito;
    font-size: 60px;
    border: none;
    width: 55%;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 8px;
    overflow: auto;
}

img {
  width: 450px;
  height: 450px;
}
