input {
    color: #36449C;
    text-align: center;
    font-family: Nunito;
    font-size: 60px;
    border: none;
    width: 55%;
    text-decoration: none;
    display: inline-block;
    margin: 10px 20%;
    cursor: pointer;
    border-radius: 8px;
}

img {
  width: 450px;
  height: 450px;
}
